		<a href='mailto:{{getContent "email_contact"}}?subject=Contacto con good joc'>{{getContent 'email_contact'}}</a>
		<span>|</span>
		<a href={{getContent 'footer_label1url'}}>{{getContent 'footer_label1'}}</a>
		<span>|</span>
		<a href={{getContent 'footer_label2url'}}>{{getContent 'footer_label2'}}</a>
		<span>|</span>
		<a href={{getContent 'footer_label3url'}}>{{getContent 'footer_label3'}}</a>
		<span>|</span>
		<span>{{getContent 'footer_label4'}}</span>
		<a href={{getContent 'footer_label4url'}}>{{getContent 'footer_label_design'}}</a>
		

