<div id="projectsCanvas">
  {{#each items}}

    <div class="projectItem displayedItem">
      <a class="linkToProject" href="{{linkURL}}">{{linkText}}</a>
      <a href="{{id}}">
        <div class="contentItem">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <p>{{explanation}}</p>
      </div>
      <div class="backgroundItem">
      </div>
      </a>
    </div>
  {{/each}}
</div>